/* 
instagrid.css by 
Theme: Boogie Child Theme
Url: https://github.com/SpaceG/instagrid.css
www.lucasgatsas.ch 

Example: Change the li:child 1,2,3,4,5 ;

li:nth-child(1)
li:nth-child(2)
li:nth-child(3)

and so far...
at least you can change the Stylesheet like your own. to change the size:
see doc : http://lucasgatsas.ch/doc/ ;

/* Instagrid.css media queries 
@media screen and (max-width : 480px) {
#ody li{width:25%}
#ody li:nth-child(1){width:50%}
}


*/
body{margin:0 auto;}
.nav {background:white;color:black;height:80px;padding:15px;}
.nav, p {font-family: 'Open Sans';font-weight: 500;text-align: center;}

/* Instagrid.css */
instagrid-title, h2, p {text-align: center;font-family: 'Open Sans';} 
strong {font-weight:800;}

/* Instagrid.css media queries */
@media screen and (max-width : 480px) {
#ody li{width:25%}
#ody li:nth-child(1){width:50%}
}
#ody{width:100%;display:block;margin:0;padding:0;line-height:0}
#ody img{height:100%;width:100%}
#ody a{padding:0;margin:0;position:relative;display:inline-block}
#ody li{width:16.66%;display:inline-block;position:relative;margin:0!important;padding:0px!important;float:left}
#ody li:nth-child(1){width:33.33%}

/*#ody li:nth-child(2) {
    width: 33.33%; 
}*/
#ody .instagrid-z{width:100%;height:100%;margin-top:-100%;opacity:0;letter-spacing:1px;background:rgba(0,0,0,0.7);position:absolute;font:normal 600 12px Catamaran, sans-serif;color:#ffffff;line-height:normal}
#ody a:hover .instagrid-z{opacity:1;zoom:1;filter:alpha(opacity=100)}
.instagrids{display:table;vertical-align:middle;height:100%;width:100%}
.instagrid-outter{display:table-cell;vertical-align:middle;height:100%;width:100%;text-align:center;}
#instagridz.widget.insta h2.title{text-align:center;}
#instagridz.widget.insta h2.title:before{content:&#39;&#39;;border-top:0px solid #efefef;left:0;right:0;position:absolute;top:50%}
#instagridz.widget.insta h2.title p{display:inline-block;background:#000;padding:0 20px;position:relative}}